<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<script src="/bootstrap/jquery/jquery.min.js"></script>
		<script src="/bootstrap/popper/popper.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/custom-styles.css">

        <title>FreelanceSLO - Admin - Opozorjena podjetja</title>

        <script src="/clientside_js/custom-validation.js"></script>
        <script src="/clientside_js/postData.js"></script>
        <script src="/clientside_js/admin-opozorjena-podjetja.js"></script>

    </head>
    <body class="gf-admin-platform-background">
      <nav class="navbar fixed-top navbar-expand-md navbar-light gf-header-admin shadow-sm">	
        <a class="navbar-brand text-light" href="/index.html">FreelanceSLO</a>
  
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse justify-content-end" id="navbarCollapse">
            <a class="btn gf-admin-btn-dark nav-item nav-link text-light m-2" href="/admin/nav/potrjevanje-admin">Administratorji</a>
            <a class="btn gf-admin-btn-dark nav-item nav-link text-light m-2" href="/admin/nav/neprimerna-dela">Dela</a>
            <a class="btn gf-admin-btn-dark nav-item nav-link text-light m-2" href="/admin/nav/prijavljeni-delavci">Delavci</a>
            <a class="btn gf-admin-btn-dark nav-item nav-link text-light m-2" href="/admin/nav/prijavljena-podjetja">Podjetja</a>
      
            <a class="nav-item nav-link text-light" href="/admin/nav/nastavitve"><img class="gf-nav-icon" src="/icon/settings.svg" alt="Nastavitve"><span> Nastavitve</span></a>
            <a class="nav-item nav-link text-light" href="/admin/acc/logout"><img class="gf-nav-icon" src="/icon/logout.svg" alt="Odjava"><span> Odjava</span></a>
          </div>
      </nav>
  

        <div class="alert alert-primary shadow-lg d-none" id="status" role="alert">
            <button type="button" onclick="removeElement(this.parentNode)" class="close"><span><span>&times;</span></button>
            <label id="status-text">asdf</label>
        </div>

        
        <main role="main">
        <div class="container">
        <%if (pagedata.podjetja.length == 0) {%>
            <div class="card mt-3 shadow-sm">
              <div class="alert alert-light" role="alert">
                <h4 class="alert-heading">Bravo!</h4>
                <hr>
                <p>Trenutno ni zahtev za prijavo podjetji. Osvežite stran za ponoven pregled</p>
              </div>
          </div>
        <%}for (podjetje of pagedata.podjetja){%>
        <div id="prijava-<%=podjetje.idpodjetja%>" class="card mt-3 shadow-sm mb-4">
        <div class="card-body">
                <h5 class="card-title"><%=podjetje.naziv%></h5>
                <h6 class="card-subtitle mb-2"><%=podjetje.imepodrocja%></h6>
                <h6 class="card-subtitle mb-2"><%=podjetje.eposta%>, <%=podjetje.telefonska%></h6>
                <hr>
                <div class="row">
                <div class="col-sm">
                <%if (podjetje.datum_ustanovitve != "Invalid date") {%>
                <p class="card-text text-muted delo-details">Datum ustanovitve: <%=podjetje.datum_ustanovitve%></p>
                <%} else {%>
                  <p class="card-text text-muted delo-details">Podatka ni.</p>
                <%}%>
                <p class="card-text text-muted delo-details" id="delavec-potrjen">
                <%if (podjetje.epostapotrjena == true) {%>
                    E-poštni naslov računa je potrjen, gre za človeškega uporabnika.
                <%} else {%>
                    E-poštni naslov računa ni potrjen, lahko, da gre za robota.
                <% } %>
                </p>
                </div>
                <div class="col-sm">
                    <%if (podjetje.naslov == '') {%>
                    <p class="card-text text-muted delo-details">Naslov: <%=podjetje.naslov%></p>
                    <%} else {%>
                    <p class="card-text text-muted delo-details">Podatka ni.</p>
                    <%}%>

                    <%if (podjetje.velikost == '') {%>
                    <p class="card-text text-muted delo-details">Velikost: <%=podjetje.velikost%></p>
                    <%} else {%>
                    <p class="card-text text-muted delo-details">Podatka ni.</p>
                    <%}%>
        </div>
        </div>
                   
 
            <h2> <%=podjetje.pojasnilo_admina%></h2>
            
            <%if (podjetje.odgovor_podjetja != undefined) {%>
            <hr>
            <div class="card-header bg-dark text-light">Podjetje se je odzval na prijavo:</div>
            <p class="list-group-item text-dark"><%=podjetje.odgovor_podjetja %></p>
            <%}%>

            <hr>
            <form>
            <%if (podjetje.odgovor_podjetja == undefined) {%>
            <label for="besedilo-prijave" for="prijava-razlaga-<%=podjetje.idpodjetja%>">Besedilo odziva:</label>
            <textarea id="prijava-razlaga-<%=podjetje.idpodjetja%>" class="form-control mb-3" type="text"></textarea>
            <button type="button" class="btn gf-admin-btn mr-2 mb-2" value="<%=podjetje.idpodjetja%>" onclick="potrdiPrijavo(this)">Pošlji opozorilo</button>
            <%}%>
            <button type="button" class="btn gf-admin-btn mr-2 mb-2" value="<%=podjetje.idpodjetja%>"onclick="dokoncnoPotrdi(this)">Izbriši račun podjetja</button>
            <button type="button" class="btn gf-admin-btn mr-2 mb-2" value="<%=podjetje.idpodjetja%>" onclick="opustiPrijavo(this)">Opusti prijavo</button>
            <a class="btn gf-admin-btn mr-2 mb-2" data-toggle="collapse" href="#collapseOdzive<%=podjetje.idpodjetja%>" role="button" aria-expanded="false" aria-controls="collapseOdzive<%=podjetje.idpodjetja%>">Pokaži odzive..</a>
            </form>
        <div class="collapse" id="collapseOdzive<%=podjetje.idpodjetja%>">
            <%for (prijava of podjetje.prijave) {%>
                <div class="card mt-2 shadow-sm mb-2">
                <div class="card-body">
                <h5 class="card-title"><%=prijava.ime%> <%=prijava.priimek%></h5>
                <h6 class="text-muted card-subtitle mb-2">Interni id: <%=prijava.iddelavca%></h6>
                <p class="card-text"><%=prijava.besedilo_prijave%></p>
                </div>
                </div>
                <%}%>
        </div>
    </div>
    </div>
        <%}%>

        <nav>
            <ul class="pagination justify-content-center mt-3">
              <%if (pagedata.podjetja > 1) {%>
              <li class="page-item">
                <a class="page-link text-dark" href="/admin/nav/prijavljena-podjetja/?page=<%=pagedata.page - 1%>" aria-label="Previous">
                  <span>Prejšnja stran</span>
                </a>
              </li>
              <%}%>
              <%if (pagedata.podjetja.length == 20) {%>
              <li class="page-item">
                <a class="page-link text-dark" href="/admin/nav/prijavljena-podjetja/?page=<%=parseInt(pagedata.page) + 1%>" aria-label="Next">
                  <span>Naslednja stran</span>
                </a>
              </li>
              <%}%>
            </ul>
          </nav>

    </div>
    </main>
    </body>
</html>